@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-invert {
  --tw-prose-body: rgb(226 232 240);
  --tw-prose-headings: rgb(248 250 252);
  --tw-prose-lead: rgb(203 213 225);
  --tw-prose-links: rgb(147 197 253);
  --tw-prose-bold: rgb(248 250 252);
  --tw-prose-counters: rgb(203 213 225);
  --tw-prose-bullets: rgb(148 163 184);
  --tw-prose-hr: rgb(51 65 85);
  --tw-prose-quotes: rgb(248 250 252);
  --tw-prose-quote-borders: rgb(51 65 85);
  --tw-prose-captions: rgb(203 213 225);
  --tw-prose-code: rgb(248 250 252);
  --tw-prose-pre-code: rgb(226 232 240);
  --tw-prose-pre-bg: rgb(15 23 42);
  --tw-prose-th-borders: rgb(51 65 85);
  --tw-prose-td-borders: rgb(51 65 85);
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose strong {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose ul {
  list-style-type: disc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.625em;
}

.prose ol {
  list-style-type: decimal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.625em;
}

.prose li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.prose ul > li {
  padding-left: 0.375em;
}

.prose ol > li {
  padding-left: 0.375em;
}

.prose ul > li::marker {
  color: var(--tw-prose-bullets);
}

.prose ol > li::marker {
  color: var(--tw-prose-counters);
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose code {
  color: var(--tw-prose-code);
  background-color: rgb(30 41 59);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.prose pre {
  background-color: var(--tw-prose-pre-bg);
  color: var(--tw-prose-pre-code);
  overflow-x: auto;
  padding: 0.875rem 1.25rem;
  border-radius: 0.375rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose pre code {
  background-color: transparent;
  padding: 0;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50;
  }
}
